.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.about-container {
  width: 75%;
  font-size: large;
  text-align: center;
}

.about-title {
  width: 85%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 0;
}

.info-top {
  margin-top: 5em;
}

.info-bottom {
  margin-top: 3em;
}
