.main-logo-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.top-half {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: 2em auto 0;
}

.bottom-half {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-img {
  margin-top: 10px;
  width: 135px;
}

.pokemon-name {
  text-transform: capitalize;
  color: white;
}

.ability-title {
  text-decoration: underline;
  font-weight: bold;
}

.stats-title {
  text-decoration: underline;
  font-weight: bold;
}

.pokemon-stats {
  text-transform: capitalize;
  line-height: 10px;
  font-style: italic;
}

.pokemon-abilites {
  text-transform: capitalize;
  line-height: 10px;
  font-style: italic;
}

.info-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 2em;
  width: 80%;
  padding: 1em 2em;
  border: 15px double rgba(109, 145, 198, 1);
  border-radius: 10px;
  background: rgba(245, 204, 5, 1);
}

@media only screen and (max-width: 550px) {
  .top-half {
    max-width: 300px;
  }
}
