* {
  box-sizing: border-box;
}

body {
  background: rgb(255, 253, 0);
  background: linear-gradient(20deg, rgba(255, 253, 0, 1) 0%, rgba(109, 145, 198, 1) 55%);
  margin: 0;
}

.App {
  border-image: linear-gradient(#f8f855, rgb(104 104 247)) 30;
  border-width: 10px;
  border-style: solid;
  width: 100vw;
  height: 100vh;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
